/* body {
    background: #000814;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
} */

/* .container {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 20px;
    width: 90%;
    max-width: 1300px;
    margin: 40px auto;
} */

/* Card Perfil */
/* .perfil-card {
    background: rgba(108, 99, 255, 0.3);
    padding: 25px;
    border-radius: 12px;
    width: 100%;
    box-shadow: 0 0 12px rgba(108, 99, 255, 0.2);
    position: relative;
} */

/* .perfil-card h2 {
    text-align: center;
    margin-top: 10px;
} */

/* .perfil-icon {
    width: 90px;
    height: 90px;
    background: #dcdcff;
    border-radius: 50%;
    margin: 0 auto;
} */

/* .texto {
    white-space: pre-line;
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.5;
} */

/* .textarea-editar {
    width: 100%;
    height: 180px;
    border-radius: 8px;
    padding: 10px;
    font-size: 15px;
    resize: none;
} */

/* .btn-editar {
    margin-top: 12px;
    padding: 10px 14px;
    background: #6C63FF;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    transition: .2s;
} */

/* .btn-editar:hover {
    background: #574ffc;
} */

/* Caixas laterais */
/* .info-box {
    background: rgba(108, 99, 255, 0.3);
    padding: 15px 20px;
    border-radius: 12px;
    width: 260px;
    box-shadow: 0 0 12px rgba(108, 99, 255, 0.2);
} */

/* .info-box h3 {
    font-size: 16px;
    margin-bottom: 10px;
} */

/* .info-box ul {
    padding-left: 18px;
} */

/* .info-box li {
    font-size: 14px;
    margin-bottom: 5px;
} */

/* .pacotes {
    grid-row: 1;
} */

/* .empresas {
    grid-row: 2;
} */

/* .contato {
    grid-row: 3;
} */

/* @media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }

    .info-box {
        width: 100%;
    }
} */
