.demandas {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.freelancer {
  margin-top: 100px;
}

.sair {
  margin-top: 350px;
}

.main-content {
  flex: 1;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0;
  max-width: calc(100% - 250px);
  margin-left: 250px;
}

.tabs {
  display: flex;
  gap: 80px;
  margin-bottom: 25px;
  color: white;
}

.tabs h3:hover {
  background-color: #5943b8;
  color: #fff;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.card {
  background-color: #5943b8;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card a{
  color: white;
}
.card h3 {
  margin-bottom: 12px;
  font-size: 16px;
  color: white;
}

.card p {
  margin: 6px 0;
  font-size: 14px;
  color: white;
}

.card .olhar {
  position: absolute;
  right: 20px;
  bottom: 20px;

  padding: 8px 14px;
  background-color: rgba(26, 23, 115, 1);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card .olhar:hover {
  background-color: #5849c9;
}

.paginacao {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 10px;
}

.paginacao button {
  padding: 6px 12px;
  border: none;
  background-color: black;
  border-radius: 4px;
  cursor: pointer;
}

.paginacao button:hover {
  background-color: #7566D9;
  color: #fff;
}